:root {
  --color-warm-black: #3a3845;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a,
p {
  color: var(--color-warm-black);
}

.container {
  width: calc(100% - 330px);
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 21.84px 0;
  background-color: #ffffff;
}

.header .menu .row {
  gap: 24px;
}

.header .nav .row {
  gap: 60px;
}

.collections {
  padding: 80px 0;
  background-color: #ffffff;
}

.collections .row {
  gap: 30px;
}

.collections .card {
  width: calc((100% - 90px) / 4);
}

.display-4 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  /* TODO: add the wights as vars */
  font-weight: 600;
}

.display-2 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  /* TODO: add the wights as vars */
  font-weight: 400;
}

.collections img {
  width: 100%;
}

.collections .card .row {
  padding-top: 23px;
  justify-content: center;
}
